%tr
  %td.record
    %h4.name= link_to_record record
    %p.notes= record.notes_summary.gsub("/","/ ")
    %p.url= link_to_web_page(record)
  %td= link_to 'Show', record_path(record)
  - if @is_admin
    %td= link_to 'Edit', edit_record_path(record)
    %td= link_to 'Destroy', record_path(record), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete
  - else
    %td
    %td