-@title= "Editing: #{@record.display_title}"

= error_messages_for :record


- form_for(@record) do |f|
  = f.submit "Update"
  = link_to 'Show', record_path(@record)
  = link_to 'Destroy', record_path(@record), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete
  %table.record
    %thead
      %tr
        %th.name Names
        %th Notes
        %th Other fields
    %tbody
      %tr
        %td.name
          %p= f.text_field :title, :size => 30
          %p= f.text_field :first_name, :size => 30
          %p= f.text_field :middle_name, :size => 30
          %p= f.text_field :last_name, :size => 30
          %p= f.text_field :suffix, :size => 30
          %p
            %strong Check By Date
          %p
            = f.date_select :check_by_date
          %p
            Use check by date
            = f.check_box :use_check_by_date
          %p
            %strong Categories
          %p
            = f.text_field :category_list
        %td
          = f.text_area :notes, :rows=>40, :cols=>60
        %td
          %p
            %label web_page
            %span= f.text_field :web_page, :size => 20
          - @record.summary_attributes.each do |attribute, value|
            %p
              %label= attribute
              %span= f.text_field attribute.to_sym, :size => 20
          - (@record.attributes.keys - @record.core_attribute_names - @record.summary_attributes.collect{|a|a[0]} - ['updated_at','created_at']).sort.each do |attribute|
            %p
              %label= attribute
              %span= f.text_field attribute.to_sym, :size => 20

= link_to 'Show', record_path(@record)
= link_to 'Back', records_path
