- @javascript = :defaults
- @title= "Editing: #{@record.name}"

= error_messages_for :record


- form_for(@record) do |f|
  = link_to 'Ignore changes', record_path(@record)
  = f.submit "Save changes"

  %p
    %label Name
    = f.text_field :name, :size => 60
  %p
    %label Summary
    = f.text_field :summary, :size => 60
  %p
    %label Tags
    = f.text_field :tag_list
    %label Statuses
    = f.text_field :status_list
  %p
    %label Use check by date
    = f.check_box :use_check_by_date, :onclick => "$('record_use_check_by_date').getValue() == 1 ? $('record_check_by_date').show() : $('record_check_by_date').hide();"
    %span#record_check_by_date
      = f.date_select :check_by_date
  %table.record
    %thead
      %tr
        %th Notes
        %th Other fields
    %tbody
      %tr
        %td
          = f.text_area :notes, :rows=>40, :cols=>60
        %td
          %p
            %label web_page
            %span= f.text_field :web_page, :size => 20
          - @record.summary_attributes.each do |attribute, value|
            %p
              %label= attribute
              %span= f.text_field attribute.to_sym, :size => 20
          - (@record.attributes.keys - @record.core_attribute_names - @record.summary_attributes.collect{|a|a[0]} - ['updated_at','created_at']).sort.each do |attribute|
            %p
              %label= attribute
              %span= f.text_field attribute.to_sym, :size => 20
  = link_to 'Ignore changes', record_path(@record)
  = f.submit "Save changes"
