- @atom = auto_discovery_link_tag(:atom).sub('records','records.atom')
- @title = "Knowledge Base records"

%div#search= render :partial => 'search_form'

- unless @records.blank?
  - pagination_links = will_paginate @records
  = pagination_links
  %table#records{:summary=>"Listing records"}
    = render :partial => 'table_header'
    %tbody
      = render :partial => 'record', :collection => @records
  = pagination_links

= link_to 'New record', new_record_path