- @javascript = :defaults
- @title = 'Search results'

- unless @records.blank?
  %p= flash[:notice]
  - if @is_admin
    %p
      - form_tag :action => 'add_tag', :method => :post do
        = submit_tag "Add tag to search results:"
        = text_field_tag 'tag'
        = hidden_field_tag 'query', @term
        = hidden_field_tag 'ids', @records.collect(&:id).sort.join(',')
  - pagination_links = will_paginate @records
  = pagination_links
  = render :partial => 'search_result', :collection => @records
  = pagination_links
- else
  %p
    Your search -
    %span.search_term= @term
    = ' - did not match any item names.'
  - if @spelling_correction
    %p.spelling_correction
      Did you mean:
      %a= link_to @spelling_correction, url_for(:action=> 'search', :query => @spelling_correction)
  %p Suggestions:
  %ul
    %li Make sure all words are spelled correctly.
    %li Try different keywords.
    %li Try more general keywords.