- @javascript = :defaults
- @title= 'Knowledge Base'

%div
  = render :partial => 'search_form'

- if @is_admin && !@records_needing_check.empty?
  %div
    %h2 Records needing check
    - @records_needing_check.collect do |record|
      = record.check_by_date
      = link_to_record(record)
      %br
%div
  %p
    %span.tags_label Tags:
    = tags_list(@tags)
  %p
    %span.statuses_label Statuses:
    = statuses_list(@statuses)

