- @javascript = :defaults
- @title= @record.name

%div
  = render :partial => 'search_form'
  - if @is_admin
    = link_to 'All', records_path
    = link_to 'Edit', edit_record_path(@record)
    = link_to 'Destroy', record_path(@record), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete

#record
  - if @is_admin && @record.use_check_by_date
    #check_by_date
      %p
        Record's check by date:
        = @record.check_by_date.to_s(:rfc822)
  #notes
    - rows = @record.line_count < 20 ? 25 : (@record.line_count * 1.5).to_i
    - @record.notes = html_formatted_notes(@record) # format before showing
    - if @is_admin
      = edit_field(@record, 'notes', :rows=> rows, :cols=>60, :load_text_url=>{:controller => 'records', :action => 'get_record_notes', :id => @record.id})
    - else
      = @record.notes
  #other_information
    - unless @record.topic_list.blank?
      %p
        Topics:
        = topic_list(@record)
    - unless @record.category_list.blank?
      %p
        Categories:
        = category_list(@record)
    = @record.summary_attributes.collect { |attribute,value| "#{attribute}: #{value}" }.join('<br/>')
    = link_to_web_page(@record)

