- @javascript = :defaults
- @title= @record.name

- if @is_admin
  %div.controls
    = link_to 'All records', records_path
    |
    = link_to 'New record', new_record_path
    |
    = link_to 'Edit record', edit_record_path(@record)

- unless @record.tag_list.blank?
  %div
    %span.tags_label= link_to 'Tags:', root_path
    = tags_list(@tags)

#record
  - if @is_admin && @record.use_check_by_date
    #check_by_date
      %p
        Record's check by date:
        = @record.check_by_date.to_s(:rfc822)
  #notes
    - rows = @record.line_count < 20 ? 25 : (@record.line_count * 1.5).to_i
    - @record.notes = html_formatted_notes(@record) # format before showing
    - if @is_admin
      = edit_field(@record, 'notes', :rows=> rows, :cols=>60, :load_text_url=>{:controller => 'records', :action => 'get_record_notes', :id => @record.id})
    - else
      = @record.notes
  #other_information
    - unless @record.web_page.blank?
      %p
        %span.web_page_label Web page:
        = link_to_web_page(@record)
    - unless @record.tag_list.blank?
      %p
        %span.tags_label Tags:
        = tags_list(@tags)
    - unless @record.status_list.blank?
      %p
        %span.statuses_label Statuses:
        = statuses_list(@statuses)
    - unless @record.other_notes.blank?
      %p
        %span.other_notes_label Other notes:
        %br
        = @record.other_notes.gsub("\n","<br/>")

