- @javascript = :defaults
- @title= @record.name

%div
  = render :partial => 'search_form'
- if @is_admin
  %div.controls
    = link_to 'All', records_path
    = link_to 'Edit', edit_record_path(@record)
    = link_to 'Destroy', record_path(@record), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete

- unless @record.topic_list.blank?
  %div
    %span.topics_label= link_to 'Topics:', root_path
    = topics_list(@topics)

#record
  - if @is_admin && @record.use_check_by_date
    #check_by_date
      %p
        Record's check by date:
        = @record.check_by_date.to_s(:rfc822)
  #notes
    - rows = @record.line_count < 20 ? 25 : (@record.line_count * 1.5).to_i
    - @record.notes = html_formatted_notes(@record) # format before showing
    - if @is_admin
      = edit_field(@record, 'notes', :rows=> rows, :cols=>60, :load_text_url=>{:controller => 'records', :action => 'get_record_notes', :id => @record.id})
    - else
      = @record.notes
  #other_information
    - unless @record.web_page.blank?
      %p
        %span.web_page_label Web page:
        = link_to_web_page(@record)
    - unless @record.topic_list.blank?
      %p
        %span.topics_label Topics:
        = topics_list(@topics)
    - unless @record.category_list.blank?
      %p
        %span.categories_label Categories:
        = categories_list(@categories)
    = @record.summary_attributes.collect { |attribute,value| "#{attribute}: #{value}" }.join('<br/>')

