- @javascript = :defaults
- @title = "Status: #{@status}"

%div
  = render :partial => 'search_form'

- unless @records.blank?
  = render :partial => 'search_result', :collection => @records
- else
  %p
    Your search -
    %span.search_term= @topic
    = ' - did not match any topic names.'
  %p Suggestions:
  %ul
    %li Make sure all words are spelled correctly.
    %li Try different topics.
    %li Try more general topics.