- @javascript = :defaults
- @title = "Tag: #{@tag}"

- if !@records.blank?
  - if @is_admin
    %p
      = button_to("Delete all '#{@tag}' tags", {:action => :delete_tag, :id => @tag.gsub(' ','_')}, :confirm => "Delete all '#{@tag}' tags?", :method => :delete)

  = render :partial => 'search_result', :collection => @records
- elsif flash[:notice]
  %p= flash[:notice]
- else
  %p
    Your search -
    %span.search_term= @tag
    = ' - did not match any tag names.'
  %p Suggestions:
  %ul
    %li Make sure all words are spelled correctly.
    %li Try different categories.
    %li Try more general categories.