- @javascript = :defaults
- @title = "Tag: #{@tag}"

- if !@records.blank?
  - if @is_admin
    %fieldset.tags-edit
      %legend Edit tags
      %label{:for => ""}= "Remove the '#{@tag}' tag from all records which have it."
      = button_to("REMOVE all '#{@tag}' tags", {:action => :delete_tag, :id => @tag.gsub(' ','_')}, :confirm => "Remove all '#{@tag}' tags?", :method => :delete)
      - form_tag :action => 'rename_tag', :method => :post do
        = submit_tag "RENAME '#{@tag}' tags to:"
        = text_field_tag 'new_tag'
        = hidden_field_tag 'old_tag', @tag

  %p= flash[:notice]
  = render :partial => 'search_result', :collection => @records
- elsif flash[:notice]
  %p= flash[:notice]
- else
  %p
    Your search -
    %span.search_term= @tag
    = ' - did not match any tag names.'
  %p Suggestions:
  %ul
    %li Make sure all words are spelled correctly.
    %li Try different categories.
    %li Try more general categories.