- @javascript = :defaults
- @title = "Tag: #{@tag}"

- if !@records.blank?
  - if flash[:notice]
    %p= flash[:notice]
  = render :partial => 'edit_tag'

  %ol.tag-results= render :partial => 'search_result', :collection => @records
- elsif flash[:notice]
  %p= flash[:notice]
- else
  %p
    The term -
    %span.search_term= @tag
    = ' - did not match any tag names.'
  %p Suggestions:
  %ul
    %li Make sure tag is spelt correctly.
    %li
      See
      = link_to("popular tags", :action => 'search') +'.'
