- @javascript = :defaults
- @title = "Tag: #{@tag}"

- if !@records.blank?
  - if @is_admin
    %fieldset.tags-edit
      %legend Edit tags
      = button_to("Remove all '#{@tag}' tags", {:action => :delete_tag, :id => @tag.gsub(' ','_')}, :confirm => "Remove all '#{@tag}' tags?", :method => :delete)
      %label{:for => ""}= "This will remove the '#{@tag}' tag from all records which have it."


  = render :partial => 'search_result', :collection => @records
- elsif flash[:notice]
  %p= flash[:notice]
- else
  %p
    Your search -
    %span.search_term= @tag
    = ' - did not match any tag names.'
  %p Suggestions:
  %ul
    %li Make sure all words are spelled correctly.
    %li Try different categories.
    %li Try more general categories.