%html
  %head
    %title= @title ? @title + " (Knowledge Base)" : "Knowledge Base"
    = stylesheet_link_tag 'screen', :media => 'screen'

    = javascript_include_tag @javascript if @javascript
    = @atom if @atom
  %body
    %h1= @title
    = button_to "Toggle admin #{@is_admin ? 'off' : 'on'}" , :action => :toggle_admin
    = yield